* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #000000;
  color: #fbfb20;
  line-height: 1.4;
  min-height: auto;
}

header {
  background-color: #000000;
  padding: 15px 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 90px;
  border-bottom: 2px solid #fbfb20;
  font-size: 20px;
}


header a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.25s;
}


header a:hover {
  color: #fbfb20;
  transform: scale(1.2);
  transition: all 0.5s ease;
}


header a.ativo {
  color: #fbfb20;
  text-decoration: none;
  text-decoration: underline;
}


header img {
  width: 72px;
  height: 72px;
  object-fit: cover;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.4);
}

.instagram {
  display: flex;
  background: linear-gradient(#f960eb, #ff854d, #fff41f);
  width: 90%;
  max-width: 700px;
  text-decoration: none;
  margin: 40px auto;
  margin-top: 100px;
  justify-content: center;
}

.instagram span {
  font-size: 36px;
  color: white;
  font-weight: bold;
  align-items: center;
  justify-items: center;
}

.instagram img {
  display: flex;
  justify-items: left;
  align-items: flex-end;
  width: 90%;
  max-width: 50px;
}

.instagram:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
  filter: brightness(60%)
}

.whats {
  display: flex;
  background: rgb(61, 219, 61);
  width: 90%;
  max-width: 700px;
  text-decoration: none;
  margin: 40px auto;
  margin-top: 100px;
  justify-content: center;
  text-align: center;
}

.whats span {
  font-size: 36px;
  color: white;
  font-weight: bold;
}

.whats img {
  display: flex;
  width: 80%;
  max-width: 50px;
}

.whats:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
  filter: brightness(60%);
}

.agen {
  display: flex;
  background: rgb(61, 182, 219);
  width: 90%;
  max-width: 700px;
  text-decoration: none;
  margin: 40px auto;
  margin-top: 100px;
  justify-content: center;
}

.agen span {
  font-size: 36px;
  color: white;
  font-weight: bold;
}

.agen img {
  display: flex;
  width: 60px;
}

.agen:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
  filter: brightness(60%);
}

.local {
  display: flex;
  background: rgb(75, 75, 75);
  width: 90%;
  max-width: 700px;
  text-decoration: none;
  margin: 40px auto;
  margin-top: 100px;
  justify-content: center;
  text-align: center;
}

.local span {
  font-size: 36px;
  color: white;
  font-weight: bold;
}

.local img {
  display: flex;
  width: 48px;
}

.local:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
  filter: brightness(60%);
}



footer {
  background-color: #fbfb20;
  color: #000;
  align-items: center;
  justify-content: center;
  display: flex;
  font-weight: bold;
  padding: 30px;
  margin-top: 100px;
}

@media (max-width: 767px) {
  header {
    width: auto;
    height: auto;
    gap: 30px;                
    padding: 10px;
    font-size: 16px;          
  }


  header img {
    width: 60px;
    height: 60px;
  }


  header a {
    font-size: 15px;
  }


  div {
    display: flex;
    max-width: 570px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    margin: 40px auto;
  }

  .agen span {

    font-size: 25px;
    align-items: center;
    justify-content: center;
  }

  .instagram span {

    font-size: 25px;
    align-items: center;
    justify-content: center;
  }

  .local span {

    font-size: 25px;
    align-items: center;
    justify-content: center;
  }

  .whats span {

    font-size: 25px;
    align-items: center;
    justify-content: center;
  }

  .agen img {
    width: 35px;
  }

  .instagram img {
    width: 35px;
  }

  .local img {
    width: 25px;
  }

  .whats img {
    width: 35px;
  }
}

@media (max-width: 468px) {
  header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 8px;
  }


  header img {
    width: 50px;
    height: 50px;
    margin: 5px 0;
  }


  header a {
    display: block;          
    width: 90%;
    text-align: center;      
    font-size: 8px;          
    padding: 8px 0;
  }


  div {
    display: flex;
    max-width: 500px;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 20px auto;
  }

  .agen span {
    font-size: 18px;
    align-items: center;
    justify-content: center;
  }

  .instagram span {

    font-size: 18px;
    align-items: center;
    justify-content: center;
  }

  .local span {
    font-size: 18px;
    align-items: center;
    justify-content: center;
  }

  .whats span {
    font-size: 18px;
    align-items: center;
    justify-content: center;
  }
  .whats img {
    width: 20px;
  }
  .agen img {
    width: 20px;
  }
  .local img {
    width: 15px;
  }
  .instagram img {
    width: 20px
  }
  footer {
    font-size: 12px;
    padding: 20px;
    text-align: center;
  }
  
}
