* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}


body {
  background-color: #000;
  color: #fbfb20;
  margin: 0;
  line-height: 1.4;
  width: 100vw;
  min-height: 100vh;
}


header {
  background-color: #000;
  padding: 15px 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 90px;
  border-bottom: 2px solid #fbfb20;
  font-size: 20px;
}


header a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}


header a:hover {
  color: #fbfb20;
  transition: all 0.5s ease;
  transform: scale(1.3);
}


header a.ativo {
  color: #fbfb20;
  text-decoration: underline;
}


header img {
  width: 72px;
  height: 72px;
  object-fit: cover;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.4);
}



.tabela-servicos {
  background-color: #000;
  padding: 20px;
  max-width: 2000px;
  margin-left: 170px;
}


.tabela-servicos table {
  width: 90%;
  text-align: center;
}


.tabela-servicos th {
  background-color: #fbfb20;
  color: #000;

  padding: 10px;
  border: 1px solid #fbfb20;
  font-size: 20px;
}


.tabela-servicos td {
  color: white;
  padding: 8px;
  border: 1px solid #000;
  font-size: 18px;
}


.tabela-servicos th:nth-child(1),
.tabela-servicos td:nth-child(1) {
  text-align: left;
  width: 50%;
}



.botao-link {
  background-color: #fbfb20;
  color: #000;
  padding: 12px 30px;
  border-radius: 60px;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  text-align: center;
}

.botao-link:hover {
  background-color: #ddac17;
  transform: scale(1.1);
  transition: all 0.5s ease;
}

.botao-container {
  text-align: center;
  margin: 50px 0;
}



.alerta {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
  padding: 10px;
  margin-top: 20px;
}

.alerta .icone {
  width: 140px;
  margin-top: 10px;
}

.alerta span {
  color: #fbfb20;
  font-weight: bold;
  font-size: 25px;
}

footer {
  background-color: #fbfb20;
  color: #000;
  align-items: center;
  justify-content: center;
  display: flex;
  font-weight: bold;
  padding: 30px;
}



@media (max-width: 767px) {
  header {
    width: auto;
    height: auto;
    gap: 30px;                
    padding: 10px;
    font-size: 16px;          
  }


  header img {
    width: 60px;
    height: 60px;
  }


  header a {
    font-size: 15px;
  }


  .tabela-servicos {
    margin-left: 20px;
  }


  .tabela-servicos table {
    width: 100%;
    font-size: 16px;
  }


  .alerta span {
    font-size: 20px;
  }

}


@media (max-width: 467px) {
  header {
    display: flex; 
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 8px;
  }


  header img {
    width: 50px;
    height: 50px;
    margin: 5px 0;
  }


  header a {
    display: block;           
    width: 90%;
    text-align: center;       
    font-size: 8px;          
    padding: 8px 0;
  }


  .tabela-servicos {
    margin-left: 0;
    padding: 10px;
    overflow: auto;
    align-items: center;
  }


  .tabela-servicos table,
  .tabela-servicos th,
  .tabela-servicos td {
    font-size: 14px;
    align-items: center;
  }


  .botao-link {
    font-size: 18px;
    padding: 10px 20px;
  }


  .alerta {
    flex-direction: column;
    text-align: center;
  }


  .alerta.icone {
    width: 100%;
    margin-bottom: 10px;
  }


  .alerta span {
    font-size: 15px;
  }

  
  footer {
    font-size: 14px;
    padding: 18px;
    text-align: center;
  }

}






